.login{
    background-color: #0a2e36;
    color: #dce0d9;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 200px;
    padding-bottom: 50px;
    padding-top: 10px;
}

